<div class="row g-2 mt-3" *ngIf="loaded==true">
    <div class="col-lg-7">
        <h1 class="display-5">{{data?.title}}</h1>
        <p style="font-size:x-large;">Published At : {{data?.publishedAt | date}}</p>
        <img [src]=data?.urlToImage alt="" style="max-height: 500px;" class="w-100" *ngIf="data?.urlToImage!=null">
        <img src="https://bitsofco.de/content/images/2018/12/Screenshot-2018-12-16-at-21.06.29.png" alt="" style="max-height: 500px;" class="w-100" *ngIf="data?.urlToImage==null">
        <p class="mt-3" style="font-size: larger;">{{data?.description}}</p>
        <a class="btn btn-success" [href]="data?.url" target="_blank">Read More ...</a>
    </div>

    <div class="col-lg-1">

    </div>
    <div class="col-lg-4 mt-5">
        <ul class="list-group" *ngFor="let item of suggesstions">
            <a (click)="view(item['_id'])">
                <li class="list-group-item">{{item.title}}</li>
            </a>
        </ul>
    </div>

</div>

<div *ngIf="loaded==false" class="loading">
    <div class="d-flex justify-content-center m-5">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
</div>
